/*
* @template		css print
* @auteur		Thibaut Dutrion
* @dircom		Labo. de Math. Appli. - Agrocampus-ouest
* @date			march 2011
*/


*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body
{   
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	text-align: center; 
	font-size: 80%;
}

.ig_comment
{
	display: none;
}




/* --------------------------------- CONTAINER ------------------------------------ */
#container
{
	width: 100%;
	text-align: left;
	overflow: hidden; /* Pour rÃ©pÃ©ter le fond et Ã©viter flux sortant Firefox */
	clear: both; /* Pour rÃ©pÃ©ter le fond et Ã©viter flux sortant Firefox */
	height: 1%; /* Pour rÃ©pÃ©ter le fond et Ã©viter flux sortant IE */
}

#container img
{
	position: relative;
	z-index: 99;
	margin: 10px;
}

#container acronym
{
	border-bottom: 1px dotted black;
}

#container hr
{
	margin-bottom: 20px;
	height: 1px;
	background-color: black;
}

#container ul
{
    list-style-type: none;
}

#container a,
#container a:link,
#container a:active,
#container a:visited,
#container a:hover
{
    color: black;
}




/* --------------------------------- HEADER ------------------------------------ */
#header > *
{
	display: none;
}
#header .topicNav
{
	display: block;
	margin: 10px 2%;
	padding: 5px 10px 10px;
	border: 1px solid black;
	text-transform: uppercase;
}
#header .topicNav li
{
	display: inline;
	margin: 0 2% 0 0;
}


/* --------------------------------- BREADCRUMB ------------------------------------ */
#breadcrumb
{
	position: relative;
	padding: 10px 2% 5px;
	width: 96%;
	font-size: .8em;
	font-weight: bold;
	border-bottom: 1px solid black;
}
/* --------------------------------- CONTENT ------------------------------------ */
#content
{
	position: relative;
	width: 100%;
}

#left_col
{
	float: left;
	width: 18%;
	margin: 10px 1% 0;
	
	font-size: .8em;
}
#left_col img
{
	display: none;
}
#left_col > .nav
{
	text-transform: uppercase;
}
#left_col .nav a
{
	text-decoration: none;
}
#left_col > .nav > .nav
{
	margin: 0 0 3px 10px;
	text-transform: none;
}
#left_col > .nav > li > .nav
{
	margin: 0 0 3px 10px;
	text-transform: none;
}
#left_col li
{
	padding: 0 0 2px 0;
	
	background: transparent url(http://math.agrocampus-ouest.fr/infoglueDeliverLive/digitalAssets/15583_list.png) -6px -2px no-repeat;
	text-indent: 8px;
}

#left_col div.button {
	display: none;
}






#large_col
{
	float: left;
	position: relative;
	width: 80%;
	overflow: hidden;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;

	border-left: 1px solid black;
}
#large_col > .content:after
{
	display: block;
	clear: both;
	position: relative;
	margin: 10px 0;
	content: "";
	border-top: 1px dotted black;
}
#large_col .content img,
#large_col .content iframe
{
	max-width: 95%;
}
#large_col .content hr
{
	clear: both;
	margin: 5px 2% 0;
	height: 0;
	background-color: transparent;
	border-width: 0 0 2px 0;
	border-style: dotted;
	border-color: black;
}
#large_col .content h1
{
	margin: 20px 0 0 0;
	padding: 0 2%;
	border-style: solid;
	border-color: black;
	border-width: 0 0 0 2%;
	font-size: 1.6em;
	font-weight: bold;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;

}
#large_col .content h2
{
	margin: 18px 2% 0;
	border-width: 0 0 2px 0;
	
	border-style: dotted;
	border-color: black;
	
	font-size: 1.4em;
	font-weight: bold;
}
#large_col .content h3
{
	margin: 16px 2% 0;
	font-size: 1.3em;
	font-weight: lighter;
}
#large_col .content h4
{
	margin: 14px 2% 0;
	font-size: 1.2em;
	font-weight: bold;
}
#large_col .content p,
#large_col .content table
{
	margin: 10px 2% 0;
	text-align: justify;
}
#large_col .content td
{
	padding: 2px;
}
#large_col .content li
{
	padding: 0 0 0 16px;
	background: transparent url(http://math.agrocampus-ouest.fr/infoglueDeliverLive/digitalAssets/15583_list.png) left top no-repeat;
}
#large_col .content blockquote
{
	position: relative;
	z-index: 10;
	margin: 10px 2% 0;
	padding: 10px;
	border: 1px solid black;
	text-align: left;
}
#large_col .content ul.navTab
{
	position: relative;
	margin: 10px 0 0 0;
	padding: 5px 5% 5px 5%;
	width: 90%;
	
	
	border-bottom: 1px solid black;
	
	font-size: .7em;
	font-weight: bold;
	color: #AA9d8f;
}
#large_col .content ul.navTab li
{
	display: inline;
	padding: 3px 1%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-image: none;
}
#large_col .content ul.navTab li:first-child
{
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius: 10px 0 0 0;
	border-top-left-radius: 10px;
}
#large_col .content ul.navTab li:last-child
{
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 0 10px 0 0;
	border-top-right-radius: 10px;
}
#large_col .content ul.navTab li.current
{
	border-bottom-style: dotted;
}
#large_col .content ul.navTab li a
{
	padding: 5px 7px;
}

#large_col .content li.oneCol,
#large_col .content li.twoCol,
#large_col .content li.threeCol
{
    position: relative;
	margin: 0;
	padding: 0;
	background-image: none;
}
#large_col .content li.threeCol:hover
{
	background-color: rgba(255,255,255,0.2);
}
#large_col .content li.threeCol > div
{
    width: 31%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0;
	padding: 1%;
    zoom: 1;
    *display: inline;
}

#large_col .content .twoCol,
#large_col .content .threeCol
{
    clear: both;
	position: relative;
	
	font-size: 1em;
}
#large_col .content .twoCol > div,
#large_col .content .threeCol > div
{
    width: 48%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0;
	padding: 0 1%;
    zoom: 1;
    *display: inline;
	
	font-size: 1em;
}
#large_col .content .threeCol > div
{
	width: 31%;
}


/* --------------------------------- FOOTER ------------------------------------ */
#footer
{
	display: none;
}



/* --------------------------------- STATIC CLASS ------------------------------------ */
#container .hide
{
	display: none !important;
}

#container .bold
{
	font-weight: bold;
}

#container .italic
{
	font-style: italic;
}

#container .right
{
	float: right !important;
}
#container .left
{
	float: left !important;
}
#container .clean
{
	clear: both !important;
}
#container .center
{
	text-align: center !important;
}

#container .borderBox
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#container .icon
{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
}

#container .quarterSize
{
	max-width: 25% !important;
}
#container .halfSize
{
	max-width: 50% !important;
}
#container .fullSize
{
	max-width: 100% !important;
}

#container .smallerText
{
	font-size: 0.7em !important;
}

#container sup
{
	text-transform: lowercase !important;
}


